<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Happy Lungs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    </head>
    <body>
        <main>
            <p>Users view!</p>
        </main>
    </body>
</html>