<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Happy Lungs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://kit.fontawesome.com/733e866dde.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include("./nav.ejs") %>
        <main>
            <div id="title">
                <h3>All users</h3>
            </div>
            <div id="usersList">

            </div>
        </main>
    </body>
</html>