<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Happy Lungs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://kit.fontawesome.com/733e866dde.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include("./nav.ejs") %>
        <main>
            <div id="title">
                <h3>All users</h3>
            </div>
            <div id="usersList">
                <div class="user">
                    <div class="userInfo">
                        <div class="userImage">
                            <img src="https://media.istockphoto.com/photos/african-woman-with-resume-picture-id644186760?k=20&m=644186760&s=612x612&w=0&h=og1WeKE4aUPNG73iRUaR0MjqVuIOvZNcZIRHDHEB3uQ=">
                        </div>
                        <div class="userInfoContent">
                            <div>
                                <span class="userName">Júlia Herrera Caba</span>
                                <br>
                                <span class="userEmail">juliaherreracaba@gmail.com</span>
                            </div>
                            <div class="userIcons">
                                <div>
                                    <i class="fa fa-thumbtack"></i>
                                    150
                                </div>
                                <div>
                                    <i class="fa fa-trophy"></i>
                                    #10
                                </div>
                                <div>
                                    <i class="fa fa-exclamation"></i>
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="userButtons">
                        <a href="#">
                            <div class="lockButton unblockedButton">
                                <div>
                                    <i class="fa fa-lock-open"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="user blockedUser">
                    <div class="userInfo">
                        <div class="userImage userImageBlocked">
                            <img src="https://d1bvpoagx8hqbg.cloudfront.net/originals/how-to-take-a-good-photo-for-your-cv-our-top-tips-e529cea3222e81502875a139a070a9fe.jpg">
                        </div>
                        <div class="userInfoContent">
                            <div>
                                <span class="userName">Iván Jimeno Ramírez</span> <span class="blockedText">- Blocked</span>
                                <br>
                                <span class="userEmail">ivan.jimeno.ramirez1@gmail.com</span>
                            </div>
                            <div class="userIcons userIconsBlocked">
                                <div>
                                    <i class="fa fa-thumbtack"></i>
                                    40
                                </div>
                                <div>
                                    <i class="fa fa-trophy"></i>
                                    #50
                                </div>
                                <div>
                                    <i class="fa fa-exclamation"></i>
                                    10
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="userButtons">
                        <a href="#">
                            <div class="reportedMessagesButton">
                                <div>
                                    Reported messages
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="lockButton blockedButton">
                                <div>
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>