@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color:#007f5a;
  
  }
  #loginHeader {
    padding: 40px 10px 30px 10px;
    text-align: center;
  }
  #loginHeader .loginTitle {
    color:#ffffff
  }
  .loginTitle {
    font-size: 20px;
    font-weight: 800; 
    color:#007f5a;
  }
  #loginForms {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #loginForms input[type="password"],
  #loginForms input[type="text"] {
    border: 1px solid #007f5a;
    border-radius: 6px;
  }
  #loginForms input[type="submit"] {
    margin-top: 15px;
    background-color: #007f5a;
    color: #ffffff;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    border: 0px;
  }
  #loginForms input[type="submit"]:hover {
    background-color:#007f5a;
  }
  #login, #register {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    #loginForms {
      flex-direction: column;
    }
  }
