@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #3b3c3b;
}
body {
    background-color: #f0f2f5;
    color: #3b3c3b;
}
.leftMenu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    background-color: #3b3c3b;
    border-radius: .75rem;
    margin-left: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color:white;
}
main {
    margin-left: 17.125rem;
}
#menuTitle {
    text-align: center;
    margin: 30px 10px 0px 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.title {
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#menuDropdown ul {
    list-style: none;
    padding-left: 0px;
}
.menuElement {
    display: flex;
    color:white;
    margin: 1.5px 15px 1.5px 15px;
    padding: 12px 16px 12px 16px;
    border-radius: .375rem;
    text-decoration: none;
}
.menuElement:hover {
    background-color: #555755;
}
.menuIcon {
    font-size: 20px;
    margin-right: 10px;
}
#title {
    margin: 1rem 24px 24px 24px;
    display:flex;
}
#title h3 {
    font-weight: 500;
    font-size: 18px;
}

/* USERS */
#usersList {
    margin: 24px 24px 24px 59px;
}
.user {
    background-color: white;
    border-radius: .75rem;
    border: 0 solid rgba(0,0,0,.125);
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    display: flex;
    margin-bottom: 15px;
}
.blockedUser {
    background-color: rgb(255, 236, 236);
}
.reportedUser {
    background-color: rgb(255, 252, 232);
}
.userInfo {
    width: 70%;
    padding: 16px 16px 16px 0px;
    display: flex;
    flex-direction: row;
}
.userInfoContent {
    padding-left: 50px;
}
.userName, .blockedText {
    font-weight: 600;
}
.blockedText {
    color: #b4003c;
}
.userEmail {
    font-size: 14px;
    color: #555755;
}
.userIcons {
    margin-top: 10px;
    font-size: 14px;
    color: #007f5a;
    display: flex;
}
.userIcons div {
    margin-right: 20px;
    width: 40px;
}
.userIconsBlocked {
    color:#b4003c;
}
.userIconsReported {
    color: #c0a81f;
}
.userButtons {
    width:30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.userButtons a {
    height: 100%;
}
.lockButton {
    width: 60px;
    height: 100%;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lockButton i {
    font-size: 25px;
    color: white;
}
.unblockedButton {
    background-color: #007f5a;
}
.unblockedButton:hover {
    background-color: #00a879;
}
.blockedButton {
    background-color: #b4003c;
}
.blockedButton:hover {
    background-color: #ec0a55;
}
.reportedButton {
    background-color: #d4b500;
}
.reportedButton:hover {
    background-color: #fad608;
}
.reportedMessagesButton {
    height: 100%;
    font-size: 25px;
    color:#b4003c;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.reportedMessagesButton:hover {
    background-color: #ffcadb;
}
.reportedMessagesButtonReported {
    color: #d4b500;
}
.reportedMessagesButtonReported:hover {
    background-color: #fff5be;
}

.blockedUser {
    background-color: rgb(255, 236, 236);
}
.reportedUser {
    background-color: rgb(255, 252, 232);
}

.userImage {
    position: absolute;
    margin-left: -35px;
    box-shadow: 0 0px 5px -1px #007f5a,0 0px 3px -1px #007f5a;
    width:70px;
    height:70px;
    border-radius: .75rem;
}
.userImageBlocked {
    box-shadow: 0 0px 5px -1px #b4003c,0 0px 3px -1px #b4003c;
}
.userImageReported {
    box-shadow: 0 0px 5px -1px #ffde23,0 0px 3px -1px #ffde23; 
}
.userImage img {
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius: .75rem;
}

/* MESSAGES */
#messagesList, #messagesTitle {
    margin: 24px 24px 24px 24px;
}
#messagesTitle {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 35px;
}
#messagesTitle h3 {
    font-weight: 500;
    font-size: 18px;
}
.userImageMessages {
    box-shadow: 0 0px 5px -1px #007f5a,0 0px 3px -1px #007f5a;
    width:70px;
    height:70px;
    border-radius: .75rem;
    margin-right:20px;
}
.userImageMessages img {
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius: .75rem;
}
.messageDay {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.message {
    background-color: white;
    border-radius: .75rem;
    border: 0 solid rgba(0,0,0,.125);
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    display: flex;
    margin-bottom: 15px;
}
.reportedBy {
    font-size: 13px;
    font-weight: 500;
    color: #818181;
}
.messageText {
    padding: 16px 16px 16px 4px;
}
.confirmButon, .declineButton {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    font-size: 20px;
    font-weight: 800;
    height: 100%;
}
.confirmButon a, .declineButton a {
    color: white;
    height: 100%;
}
.confirmButon {
    background-color: #b4003c;
    border-top-left-radius: .75rem;
    border-bottom-left-radius: .75rem;
}
.confirmButon:hover {
    background-color: #ec0a55;
}
.declineButton {
    background-color: #007f5a;
}
.declineButton:hover {
    background-color: #00a879;
}
.messageTime {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 16px 4px 16px 8px;
    font-size: 12px;
    color: #818181;
}
.legend {
    display: flex;
    font-size: 15px;
}
.legend i {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.legendRed {
    background-color: #b4003c;
    font-size: 12px;
    margin-right: 3px;
}
.legendGreen {
    background-color: #007f5a;
    font-size: 11px;
    margin-right: 3px;
    margin-left: 10px;
}